@media screen and (max-width: 768px) {
  .hero {
    position: relative;
    padding-top: 12vh;
  }
  .hero-img {
    position: absolute;
    bottom: 5%;
    right: -20%;
    height: 50vh;
  }
  .hero-menu {
    height: auto;
    button {
      margin-top: 0 !important;
    }
  }
  .hero-circle-row {
    padding-top: 0.5em;
    gap: 0.5em;
  }
  .hero-circle {
    width: 2.5em;
    height: 2.5em;
    img {
      width: 2.5em;
      height: 2.5em;
    }
  }
  .herobtn.active {
    width: 2.3em !important;
    height: 2.3em !important;
  }

  .about {
    padding-top: 3em;
  }
  .about-img {
    height: 50vh;
  }

  .order-row {
    min-height: auto;
    .hero-menu {
      margin-top: 50px;
    }
  }
  .order-img {
    position: static;
    border-radius: 0;
    height: 25vh;
  }
}