:root {
  --ac1: #5F3F32;
  --m1: #F5D76E;
  --m2: #9C2121;
  --c1: #FCF1CD;
  --c2: #FEF5ED;
}
/* Navbar */
.header {
  background-color: var(--m1);
  display: flex;
  justify-content: center;
  width: 100%;
}
.navbar ul {
  list-style: none;
  text-align: center; 
  font-weight: 800;  
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar li {
  display: inline-block;
  padding: 10px  2em;
}
.navbar a {
  color: var(--ac1);
  font-family: "Markazi Text", serif;
  font-weight: 500;
  font-size: 24px;
  text-decoration: none;
}
.logo-header {
  padding: 0 1em !important;
  div {
    width: 300px;
    height: 76px;
  }
  img {
    object-fit: contain;
    width: 100%;
    height: 100%;
  }}


/* Footer */
.footer {
  padding: 2rem 0 0;
  background-color: var(--m1);
  ul {  
    list-style: none;
  }
}
.logo-footer {
    width: 400px;
  img {
    object-fit: contain;
    width: 100%;
    height: 100%;
  }
}
.foot-back {
  align-items: center;
}
.copy {
  margin-top: 3rem;
  margin-bottom: 3rem;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
  .foot-line {
    width: 40vw;
    height: 0;
    border-top: 1px solid #353232;
    display: inline-block;  
  }
}
.foot-social {
  flex-direction: column;
  gap: 0.8rem;
  svg {
    font-size: 42px;
    fill: var(--ac1);
  }
}


h1 {
  font-family: "Markazi Text", serif;
  font-size: 64px;
  line-height: 60px;
  font-weight: 600;
  color: var(--ac1);
}
h2 {
  font-family: "Markazi Text", serif;
  font-size: 40px;
  font-weight: 600;
  color: var(--ac1);
}
h3 {
  font-family: "Markazi Text", serif;
  font-size: 34px;
  font-weight: 600;
}

h4 {
  font-size: 22px;
  line-height: 30px;
  font-weight: 500;
  color: var(--m2);
}
p.p0 {
  font-size: 18px;
  line-height: 130%;
}
p.p1 {
  font-size: 18px;
  font-weight: 400;
  line-height: 130%;
}

button {
  border-radius: 24px;
  border: 0;
  width: 250px;
  height: 50px;
  font-weight: 500;
  font-size: 22px;
  line-height: normal;
  cursor: pointer;
}
button.btn1 {
  background: var(--ac1);
  color: #FFFBF8;
}
.btn1:hover {
  background: none;
  color: var(--ac1);
  border: 2px solid var(--ac1);
}
button.btn2 {
  background-color: var(--m1);
  color: var(--ac1);
}
.btn2:hover {
  background: var(--c2);
  color: var(--ac1);
  border: 2px solid var(--ac1);
}
.map-container {
  height: 50vh;
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
}